.container {
	margin-top: 15px;
}

.footerHeading {
	font-weight: 700;
	font-size: 14px;
	color: #656566;
}

.itemsContainer {
	display: flex;
	gap: 52px;
	margin-top: 20px;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mobile {
	display: none;
}

.desktop {
	display: block;
}

@media screen and (max-width: 320px) {
	.container {
		margin-top: 0px;
	}

	.items {
		font-size: 14px;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}
