.container {
	margin-top: 33px;
}

.item {
	font-size: 12px;
}

.underline {
	text-decoration: underline;
	text-decoration-color: #E4E5EA;
}

@media screen and (max-width: 320px) {
	.container {
		margin-bottom: 60px;
	}
}