.purpleShining {
	position: absolute;
	width: 259px;
	height: 259px;
	left: 602px;
	top: -154px;
	background: #833AB4;
	opacity: 0.5;
	filter: blur(196px);
}

@media screen and (max-width: 320px) {
	.purpleShining {
		position: absolute;
		width: 259px;
		height: 259px;
		left: 258px;
		top: 107px;
		
		background: #833AB4;
		opacity: 0.5;
		filter: blur(196px);
	}
}